$color-white: #fff;
$color-gray: #fafafa;
$color-gray2: #8e8e8e;
$color-graybg: #f2f4f7;
$color-graybg2: #efefef;
$color-grayline: #dbdbdb;
$color-grayline2: #b2afaf;
$color-navy: #00376b;

$color-facebook: #385185;
$color-point: #0095f6;
$color-error: red;
