//input
input {
  display: block;
  height: 2.5em;
  padding: 0.2rem 0.8rem;
  background: $color-gray;
  border: 1px solid $color-grayline;
  border-radius: 0.2rem;
  &:focus {
    border-color: $color-grayline2;
  }
  &.w100 {
    width: 100%;
  }
  &.error {
    border: 1px solid $color-error;
  }
  &.search {
    height: 2.7rem;
    background-color: $color-graybg2;
    border-color: $color-graybg2;
  }
}

// button
.btn {
  height: 2.2rem;
  font-size: 0.8rem;
  border-radius: 0.2rem;
  opacity: 1;
  &.btn-point {
    background-color: $color-point;
    color: $color-white;
  }
  &.w100 {
    width: 100%;
  }
  &:disabled {
    opacity: 0.5;
  }
}

img {
  max-width: 100%;
}
